<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script>
window.onload=function()
{
	var aObj=document.getElementsByTagName('span');
	for(var i=0;i<aObj.length;i++)
	{
		aObj[i].oncontextmenu=function()
		{
			if(this.getAttribute('title'))
			{
				alert(this.getAttribute('title'));
			}
			return false;
		}
	}
	document.oncontextmenu=function(){
		return false;
	}
}
</script>
</head>
 
<body>
    <p id="test1" title="1">11111111111111111111</p>
        <span title="aaaa">aaaaaaaaaaaaaaaaaaaaaaa</span>
        <span id="test3">sadf23423411</span>
        <span title="ddd">ddddddddddddddddddddddddddddd</p>
</body>
</html>